<h1><%= t :edit_wiki_page %></h1>

<% if (params[:id].nil?) %>
  <% url = wiki_index_url(@project) %>
<% else %>
  <% url = wiki_page_url(@project) %>
<% end %>
<%= form_tag url, {:method => :put} do |f| %>
  <ul>
    <li>
      <%= label_tag :content %><br />
      <%= text_area_tag :content, @contents %>
    </li>
    <li>
      <%= label_tag :commit_message %><br />
      <%= text_field_tag :commit_message %>
    </li>
    <li>
      <%= submit_tag t(:update) %>
    </li>
  </ul>
<% end %>

