<h1><%= t :edit_wiki_page %></h1>

<%= form_tag url_for(:controller => :wiki, :action => :update, :method => 'PUT', :project_id => @project.slug, :id => params[:id]) do |f| %>
  <p>
    <%= label_tag :content %>
    <%= text_area_tag :content, @contents %>
  </p>
  <p>
    <%= submit_tag t(:update) %>
  </p>
<% end %>

