<h1><%= t :new_wiki_page %></h1>

<% if (params[:id].nil?) %>
  <% url = wiki_index_page_url(@project) %>
<% else %>
  <% url = wiki_page_url(@project) %>
<% end %>

<%= form_tag url do |f| %>
  <ul>
    <li>
      <%= label_tag :name %><br />
      <%= text_field_tag :name %>
    </li>
    <li>
      <%= label_tag :content %><br />
      <%= text_area_tag :content %>
    </li>
    <li>
      <%= label_tag :commit_message %><br />
      <%= text_area_tag :commit_message %>
    </li>
    <li>
      <%= submit_tag t(:create) %>
    </li>
  </ul>
<% end %>

