<h1><%= t :new_wiki_page %></h1>

<%= form_tag wiki_page_url(@project) do |f| %>
  <ul>
    <li>
      <%= label_tag :name %><br />
      <%= text_field_tag :name %>
    </li>
    <li>
      <%= label_tag :content %><br />
      <%= text_area_tag :content %>
    </li>
    <li>
      <%= label_tag :commit_message %><br />
      <%= text_area_tag :commit_message %>
    </li>
    <li>
      <%= submit_tag t(:create) %>
    </li>
  </ul>
<% end %>

