<h1><%= t :edit_ticket %></h1>

<%= form_tag ticket_url(:id => @ticket.id), {:method => :put} do |f| %>
  <div id="ticket-form">
    <ul>
      <li>
        <%= label_tag :content %><br />
        <%= text_area_tag :content, @ticket.contents %>
      </li>
      <li>
        <%= label_tag :commit_message %><br />
        <%= text_field_tag :commit_message %>
      </li>
      <li>
        <%= submit_tag t(:save) %> <%= link_to t(:cancel), ticket_url(:id => @ticket.id) %>
      </li>
    </ul>
  </div>
<% end %>

