<h1><%= t :new_project %></h1>


<%= form_for @project do |f| %>
<% if f.object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(f.object.errors.count, "error") %>
        prohibited this <%= f.object.class.to_s.underscore.humanize.downcase %>
        from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<ul>
  <li>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </li>
  <li>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </li>
  <li>
    <%= f.submit %>
  </li>
</ul>
<% end %>

