<!DOCTYPE html>
<html>
<head>
  <title>Ape</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
</head>
<body>
  <div id="header">
    <div class="left">
      <h1>
        <%= link_to image_tag('logo.png', :alt => 'Ape'), root_path %>
        <%= link_to 'Ape', root_path %>
      </h1>
    </div>
    <div class="right">
      <p>Controls</p>
    </div>
    <div class="breaker"></div>
  </div>
  <div id="menu">
    <% unless @project.nil? -%>
      <ul class="left">
      <%= base_navigation %>
    </ul>
    <% end -%>
    <ul class="right">
      <li><%= link_to t(:projects), projects_path  %></li>
    </ul>
    <div class="breaker"></div>
  </div>
  <div id="wrapper">
    <div id="main-content" class="container">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag :all %>
</body>
</html>

