<!DOCTYPE html>
<html>
<head>
  <title>Ape</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'application', :media => 'screen' %>
</head>
<body>
  <div id="header">
    <div class="left">
      <h1>
        <%= link_to image_tag('logo.png', :alt => 'Ape'), root_path %>
        <%= link_to 'Ape', root_path %>
      </h1>
    </div>
    <div class="right">
      <p>Controls</p>
    </div>
    <div class="breaker"></div>
  </div>
  <div id="menu">
    <% unless @project.nil? -%>
      <ul class="left">
      <li class="active"><%= link_to t(:wiki), wiki_index_url(@project) %></li>
      <li><a href="">New ticket</a></li>
      <li><a href="">Tickets</a></li>
      <li><a href="">Milestones</a></li>
      <li><a href="">Browse code</a></li>
      <li><a href="">Changesets</a></li>
      <li><a href="">Search</a></li>
    </ul>
    <% end -%>
    <ul class="right">
      <li><a href="">Projects</a></li>
      <li><a href="">Administration</a></li>
    </ul>
    <div class="breaker"></div>
  </div>
  <div id="wrapper">
    <div id="content" class="container">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag :all %>
</body>
</html>

